<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- views/partials/head.ejs -->
    <meta charset="UTF-8">
    <title>Super Awesome</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <style>
        body    { padding-top:50px; }
    </style>
</head>
<body class="container">
    <!-- views/partials/header.ejs -->
<header>
    <!-- views/partials/header.ejs -->

    <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                EJS Is Fun
            </a>

            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>

    </div>
    </nav>
</header>

<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
    </div>
</main>

<footer>
    <!-- views/partials/footer.ejs -->
    <p class="text-center text-muted">© Copyright 2014 The Awesome People</p>
</footer>

</body>
</html>
